.s_biography{
    display: flex;
}
section .biography{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100% ;
    height: auto;
    padding-bottom: 30px;
    color: #fff;
    background-color: #000000;
}
.biography_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    width: 35%;
    margin-right: 10%;
    padding: 20px;
    border-left:2px solid #fff;
    
}
.biography_text h1{
    text-shadow: 4px 3px 5px #3C3C3C ;
    text-decoration: underline;
    text-decoration-color:#8C111B ;
}
.biography_text p{
    align-items: center;
    line-height: 25px;
    font-size: 16px;
}

.b_image{
    display: flex;
    width: 100%;
    max-width: 420px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.biography_image{
    display: flex;
    justify-content: center;
    flex: 1;
    object-fit: cover;
    width: 100%;
    max-width: 420px;
    height: auto;
    margin-bottom: 10%;
    margin-top: 5%;
}

/* --------------------------------------------Media Query---------------------------------------------*/
@media(max-width: 840px){
    section .biography{
        flex-direction: column;
        padding-left:0 ;
    }
    .biography_text{
        width: 90%;
        margin-right:0 ;
        padding-left: 10px;
    }
    .biography_image{
        width: 90%;
    }
    
}