section .biography{
    display: flex;
    justify-content: center;
    width:100% ;
    height: 800px;
    padding-top: 20px;
    color: #fff;
    background-color: #000000;
}
.biography_text{
    margin-top: 100px;
    width: 35%;
    margin-right: 10%;
    padding: 20px;
    
}
.biography_text h1{
    text-shadow: 4px 3px 5px #3C3C3C ;
}
.biography_text p{
    line-height: 25px;
    font-size: 16px;
}

.biography_image{
    margin-bottom: 10%;
    margin-top: 5%;
}
