.discography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-bottom: 150px;
}
.title_discography{
    color: #fff;
    text-decoration: underline;
    text-decoration-color:#8C111C ;
}
.album {
    display: flex;
    justify-content: center;
    margin-top:4% ;
    height: auto;
}

.album_1, .album_2, .album_3{
    display: flex;
    width: 100%;
    height: auto;
    color: #fff;
    margin-right: 15px;
    box-shadow: 2px 4px 9px rgba(255, 255, 255, 0.25);
}
.album_1, .album_2{
    padding-right: 15px;
}
.cover_1, .cover_2, .cover_3{
    width: 80%;
    margin-right: 10%;
}
.musics_1, .musics_2, .musics_3{
    flex: 1;
    margin-right: 5%;
    font-size: 12px;
}
li{
    margin-top: 5px;
}

/* --------------------------------------------Media Query-----------------------------------------*/
@media(max-width: 1221px){
    .album_1, .album_2, .album_3{
        flex-direction: column;
    }
    .album_3{
        margin-right: 0;
    }
}

@media(max-width:700px){
    .album{
        flex-direction: column;
        width: 100%;
    }
}