
.discography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-bottom: 150px;
}
.title_discography{
    color: #fff;
    text-decoration: underline;
    text-decoration-color:#8C111C ;
}
.album {
    display: flex;
    justify-content: center;
    margin-top:4% ;
    height: auto;
    gap:15px
}

.album_card{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    color: #fff;
    box-shadow: 2px 4px 9px rgba(255, 255, 255, 0.25);
}

.cover {
    width: 60%;
    margin-right: 10%;
}
.cover img{
    width: 100%;
    height: auto;
}
.musics ol{
    flex: 1;
    margin-right: 5%;
    font-size: 12px;
    padding-left: 20px;
}
li{
    margin-top: 5px;
}

/* --------------------------------------------Media Query-----------------------------------------*/
@media(max-width: 1221px){
    .album_card{
        flex-direction: column;
        align-items: center;
    }
    .cover{
        width: 80%;
        margin-right: 0;
    }

    .musics{
        margin-right: 0;
    }
}


@media(max-width:700px){
    .album{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
