header{
    position: relative;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 50px;
    background-color:#000000 ;
    border-bottom:1px solid #fff;
}
a{
    display: flex;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    box-shadow: 4px 0px 9px rgba(255, 255, 255, 0.25), -4px 0px 9px rgba(255, 255, 255, 0.25);
}
nav .title_header{
    display:flex;
    width: 100%;
    height: 100%;
}
.title_header .resume_1, .title_header .resume_3{
    display: flex;
    flex:1;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    font-size: 12px;
}
.title_header .resume_1{
    justify-content: flex-end;
}
.title_header .resume_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    font-size:16px;
    color: #fff;
    background-color: #8C111C;
}
/* ------------------------------------------------------------------------------------------------- */
.images_header{
    display: flex;
    height: 80%;
}
.images_header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.image_background_left, .image_background_right{
    flex:1;
}
.image_background_center{
    flex:2;
}
header .texto_header{
    position: absolute;
    top:25%;
    left: 28%;
}
header .name{
    color: #fff;
    width: 100%;
    font-size: 35px;
    font-family: "Limelight";
}
header .compliment{
    color: #fff;
    width: 100%;
    max-width: 30%;
    font-size: 11px;
    font-family: "Limelight";
    word-spacing: 5px;
}
/* -----------------------------------Media Query--------------------------------------- */
@media(max-width:635px) {
    header .name{
        font-size: 20px;
    }
    header .compliment{
        font-size: 8px;
    }
}